<html>

<body>
    <div>
        <h2>Você não tem autorização para acessar essa área</h2>
        <img src="https://http.dog/403.jpg" alt="">


</body>
</div>
<style>
    img {

        height: 600px;
        width: 800px;


    }


    h2 {
        text-align: center;
    }

    div {
        text-align: center;
    }
</style>


</html>