<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/movie" method="post">
        <input type="text" name="titulo" id="" placeholder="Título">
        <input type="text" name="genero" id="" placeholder="Gênero">
        <input type="text" name="censura" id="" placeholder="Idade Mínima">
        <input type="text" name="duracao" id="" placeholder="Tempo de Duração">
        <select name="is3d" id="">
            <option value="true">3D</option>
            <option value="false">2D</option>
            
        </select>

        <button type="submit">Registrar Filme</button>
    </form>
</body>
</html>